body {
	background: -webkit-linear-gradient(#fff, #eee); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fff, #eee); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#fff, #eee); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#fff, #eee);
	background-repeat: no-repeat;
	min-height: 100vh;
}

.row {
	margin: 20px 0;
}

.rss, .rss2 {
	color: #ff7800;
	border-color: #ff7800;
	background-color: #ffc48f;
}

.rss2 {
	background-color: #ffe1c7 !important;
}

.rss2:focus {
	border-color: #ff7800;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 120, 0, 0.6);
}

.rss2 input:-moz-placeholder {
	color: #ff7800;
}

.rss2::-moz-placeholder {
	color: #ff7800;
}

.rss2:-ms-input-placeholder {
	color: #ff7800;
}

.rss2::-webkit-input-placeholder {
	color: #ff7800;
}

.avatar {
	margin-right: 10px;
}

a {
	line-height: 35px;
}
